*.class
bin/*
gen/*
*.DS_Store
Thumb.db
proguard/*
.classpath
default.properties
.settings/*
local.properties

**/proguard/*
**/bin/*
**/gen/*
**/.class
**/.classpath
**/default.properties
**/.settings/*
**/local.properties
*.properties

*.prefs
